/* line 10, ../compass/sass/style.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 15, ../compass/sass/style.scss */
.main {
  width: 100%;
  font-size: 12px;
}

/* line 20, ../compass/sass/style.scss */
.homepage-header {
  /*background-color: #4499ee;*/
  background: url(../images/blue.png) repeat center center;
}
/* line 23, ../compass/sass/style.scss */
.homepage-header h1 {
  color: #fcfcfc;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
@media (min-width: 640px) {
  /* line 23, ../compass/sass/style.scss */
  .homepage-header h1 {
    font-size: 5em;
  }
}
@media (min-width: 960px) {
  /* line 23, ../compass/sass/style.scss */
  .homepage-header h1 {
    font-size: 7em;
  }
}
/* line 35, ../compass/sass/style.scss */
.homepage-header h1 span {
  font-weight: 900;
}
/* line 39, ../compass/sass/style.scss */
.homepage-header .center-attention {
  margin: 0 auto;
  max-width: 80em;
}
/* line 43, ../compass/sass/style.scss */
.homepage-header .logo {
  margin: 0 auto;
  width: 200px;
  height: 100px;
}
@media (min-width: 640px) {
  /* line 43, ../compass/sass/style.scss */
  .homepage-header .logo {
    width: 300px;
    height: 150px;
  }
}
@media (min-width: 960px) {
  /* line 43, ../compass/sass/style.scss */
  .homepage-header .logo {
    width: 400px;
    height: 200px;
  }
}
/* line 55, ../compass/sass/style.scss */
.homepage-header .logo img {
  max-width: 100%;
  max-height: 100%;
}
/* line 60, ../compass/sass/style.scss */
.homepage-header .height-filler {
  height: 5em;
  position: relative;
}
@media (min-width: 640px) {
  /* line 60, ../compass/sass/style.scss */
  .homepage-header .height-filler {
    height: 13em;
  }
}
@media (min-width: 960px) {
  /* line 60, ../compass/sass/style.scss */
  .homepage-header .height-filler {
    height: 15em;
  }
}
/* line 69, ../compass/sass/style.scss */
.homepage-header .height-filler .circle {
  display: none;
  position: absolute;
}
@media (min-width: 640px) {
  /* line 69, ../compass/sass/style.scss */
  .homepage-header .height-filler .circle {
    border: 3px solid #fcfcfc;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    display: inherit;
  }
}
@media (min-width: 960px) {
  /* line 69, ../compass/sass/style.scss */
  .homepage-header .height-filler .circle {
    border: 3px solid #fcfcfc;
    border-radius: 50%;
    width: 12em;
    height: 12em;
  }
}
/* line 80, ../compass/sass/style.scss */
.homepage-header .height-filler .left-panel {
  width: 50%;
  float: left;
  position: relative;
}
/* line 84, ../compass/sass/style.scss */
.homepage-header .height-filler .left-panel .circle {
  background: url(../images/documents12_360.png) no-repeat center center;
  background-size: 6em 6em;
  right: 15em;
}
@media (min-width: 960px) {
  /* line 84, ../compass/sass/style.scss */
  .homepage-header .height-filler .left-panel .circle {
    right: 20em;
  }
}
/* line 93, ../compass/sass/style.scss */
.homepage-header .height-filler .right-panel {
  width: 50%;
  float: right;
  position: relative;
}
/* line 97, ../compass/sass/style.scss */
.homepage-header .height-filler .right-panel .circle {
  background: url(../images/dining3_360.png) no-repeat center center;
  background-size: 8em 8em;
  left: 15em;
}
@media (min-width: 960px) {
  /* line 97, ../compass/sass/style.scss */
  .homepage-header .height-filler .right-panel .circle {
    left: 20em;
  }
}
/* line 106, ../compass/sass/style.scss */
.homepage-header .height-filler .learn-more {
  color: #fcfcfc;
  text-align: center;
  font-size: 1em;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 118, ../compass/sass/style.scss */
.content .center-attention {
  margin: 0 auto;
  padding: 1em;
  max-width: 400px;
  color: #424242;
}
@media (min-width: 640px) {
  /* line 118, ../compass/sass/style.scss */
  .content .center-attention {
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
@media (min-width: 960px) {
  /* line 118, ../compass/sass/style.scss */
  .content .center-attention {
    margin-bottom: 6em;
    max-width: 500px;
  }
}
/* line 132, ../compass/sass/style.scss */
.content .center-attention h1 {
  margin-bottom: 0em;
  text-align: left;
  font-size: 2em;
  font-weight: 900;
}
@media (min-width: 640px) {
  /* line 132, ../compass/sass/style.scss */
  .content .center-attention h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 960px) {
  /* line 132, ../compass/sass/style.scss */
  .content .center-attention h1 {
    font-size: 3em;
  }
}
/* line 144, ../compass/sass/style.scss */
.content .center-attention p {
  font-size: 1.5em;
}

/* line 149, ../compass/sass/style.scss */
.tri-panels {
  color: #424242;
  margin: 0 auto;
  display: block;
}
/* line 153, ../compass/sass/style.scss */
.tri-panels .panel {
  margin: 0 auto;
  width: 25em;
  text-align: center;
}
@media (min-width: 960px) {
  /* line 153, ../compass/sass/style.scss */
  .tri-panels .panel {
    float: left;
  }
}
@media (min-width: 960px) {
  /* line 161, ../compass/sass/style.scss */
  .tri-panels .divider {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cacaca;
  }
}
/* line 168, ../compass/sass/style.scss */
.tri-panels p {
  font-size: 1.5em;
}
@media (min-width: 960px) {
  /* line 149, ../compass/sass/style.scss */
  .tri-panels {
    display: table;
  }
}

/* Login Page */
/* line 177, ../compass/sass/style.scss */
.main-login {
  width: 100%;
  font-size: 12px;
}

/* line 182, ../compass/sass/style.scss */
.login-space {
  padding-top: 10em;
}

/* line 186, ../compass/sass/style.scss */
.login-portion {
  background-color: #ffffff;
  max-width: 40em;
  margin: 0 auto;
  padding: 3em;
  border-radius: 15px;
}
/* line 192, ../compass/sass/style.scss */
.login-portion .logo-login {
  margin: 0 auto;
  width: 300px;
  height: 150px;
}
/* line 197, ../compass/sass/style.scss */
.login-portion img {
  max-width: 100%;
  max-height: 100%;
}
/* line 201, ../compass/sass/style.scss */
.login-portion h1 {
  margin-bottom: 0.25em;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}
@media (min-width: 640px) {
  /* line 201, ../compass/sass/style.scss */
  .login-portion h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 960px) {
  /* line 201, ../compass/sass/style.scss */
  .login-portion h1 {
    font-size: 3em;
  }
}
/* line 214, ../compass/sass/style.scss */
.login-portion p {
  margin-top: 0em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}
/* line 220, ../compass/sass/style.scss */
.login-portion .password {
  background-color: #F2F2F2;
  border-style: none;
  padding: 10px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
<<<<<<< HEAD
/* line 203, ../compass/sass/style.scss */
.login-portion .password:focus {
  outline: none;
}
/* line 204, ../compass/sass/style.scss */
.login-portion .enter:focus {
  outline: none;
}
/* line 205, ../compass/sass/style.scss */
=======
/* line 230, ../compass/sass/style.scss */
.login-portion .password:focus {
  outline: none;
}
/* line 231, ../compass/sass/style.scss */
.login-portion .enter:focus {
  outline: none;
}
/* line 233, ../compass/sass/style.scss */
>>>>>>> 03395ee... Fixed tri-panel centering and added dividers.
.login-portion .enter {
  cursor: pointer;
  background-color: #4499EE;
  color: #ECECEC;
  border-style: none;
  margin-left: -.5em;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
<<<<<<< HEAD
/* line 219, ../compass/sass/style.scss */
=======
/* line 247, ../compass/sass/style.scss */
>>>>>>> 03395ee... Fixed tri-panel centering and added dividers.
.login-portion .enter:hover {
  background-color: #44AAFF;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
<<<<<<< HEAD
/* line 227, ../compass/sass/style.scss */
.login-portion .enter:active {
  background-color: #4499DD;
}
/* line 230, ../compass/sass/style.scss */
=======
/* line 255, ../compass/sass/style.scss */
.login-portion .enter:active {
  background-color: #4499DD;
}
/* line 258, ../compass/sass/style.scss */
>>>>>>> 03395ee... Fixed tri-panel centering and added dividers.
.login-portion form {
  margin: 0 auto;
  display: table;
  margin-top: 1em;
}

/* FileRoom Page */
/* line 238, ../compass/sass/style.scss */
.sidebar-fileroom {
  width: 20em;
  position: fixed;
  padding-top: 4em;
}
/* line 242, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom {
  border-radius: 0.5em;
  padding-top: 2em;
  width: 18em;
  margin: 0 auto;
  background: url(../images/grey.png) repeat center center;
}
/* line 248, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .logo {
  margin: 0 auto;
  width: 10em;
  height: 5em;
}
/* line 252, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .logo img {
  max-width: 100%;
  max-height: 100%;
}
/* line 257, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .url {
  background-color: #F2F2F2;
  border-style: none;
  padding: 1em;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
/* line 266, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .url:focus {
  outline: none;
}
/* line 267, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .enter:focus {
  outline: none;
}
/* line 268, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .enter {
  cursor: pointer;
  background-color: #4499EE;
  color: #ECECEC;
  border-style: none;
  margin-left: -.5em;
  padding: 1em;
  padding-right: 2em;
  padding-left: 2em;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 287, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .enter:hover {
  background-color: #44AAFF;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 295, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .enter:active {
  background-color: #4499DD;
}
/* line 298, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom form {
  margin: 0 auto;
  display: table;
  margin-top: 1em;
}
/* line 303, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 306, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom h1 {
  color: #424242;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
/* line 312, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom h1 span {
  font-weight: 900;
}
/* line 316, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .pill-button-fileroom {
  margin: 0 auto;
  display: table;
  text-decoration: none;
  text-align: center;
  color: #424242;
  padding: 0.5em 0em;
  width: 15.5em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-style: solid;
  border-color: #4499EE;
  border-width: 2px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 336, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .pill-button-fileroom:hover {
  background-color: #44AAFF;
  border-color: #44AAFF;
  color: #ECECEC;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 346, ../compass/sass/style.scss */
.sidebar-fileroom .sidebar-fill-fileroom .pill-button-fileroom:active {
  background-color: #4499DD;
  border-color: #4499DD;
}

/* line 353, ../compass/sass/style.scss */
.files-fileroom {
  left: 20em;
  width: 100%;
  position: fixed;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 4em;
  color: #424242;
}
/* line 362, ../compass/sass/style.scss */
.files-fileroom .inline {
  float: left;
}
/* line 364, ../compass/sass/style.scss */
.files-fileroom .inline h2 {
  margin: 0;
}
/* line 368, ../compass/sass/style.scss */
.files-fileroom .files-header-fileroom {
  height: 2em;
  clear: both;
}
/* line 372, ../compass/sass/style.scss */
.files-fileroom .files-filename-fileroom {
  width: 12em;
}
/* line 375, ../compass/sass/style.scss */
.files-fileroom .files-type-fileroom {
  width: 10em;
}
/* line 378, ../compass/sass/style.scss */
.files-fileroom .files-size-fileroom {
  width: 8em;
}
/* line 381, ../compass/sass/style.scss */
.files-fileroom .files-author-fileroom {
  width: 10em;
}
/* line 384, ../compass/sass/style.scss */
.files-fileroom .files-status-fileroom {
  width: 12em;
}
/* line 387, ../compass/sass/style.scss */
.files-fileroom .files-delete-fileroom {
  width: 3em;
  clear: right;
}
/* line 391, ../compass/sass/style.scss */
.files-fileroom .files-entry-fileroom {
  border-color: #DDDDDD;
  border-top-style: solid;
  border-top-width: 1px;
}
